package templates

import (
	"clothe-shop-v2/internal/database"
	"fmt"
)

templ OrderPage(orders []database.OrderWithProducts) {
	@Base() {
		<h1 class="text-xl font-bold underline mb-8 ml-8">List of Previous orders</h1>
		for _, order := range orders {
			<div>
				{ fmt.Sprint(order.ID) }
				{ fmt.Sprint(order.Date) }
				{ fmt.Sprint(order.Status) }
			</div>
		}
	}
}
