package templates 

import (
	"clothe-shop-v2/internal/database"
	"strconv"
)

templ Products(products []database.Product) {
	<h1>list of products</h1>
	<div class="product-list">
		for _, product := range products {
			@Product(product)
		}
	</div>
}

templ Product(product database.Product) {
	<div class="product-container">
		<div>{ product.Name }</div>
		<div>{ product.Description }</div>
		<div>$ { strconv.Itoa(product.Price) }</div>
		<button>add to cart</button>
	</div>
}
